---
import Layout from '@/layouts/Layout.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';
import readingTime from 'reading-time';

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

export async function getStaticPaths() {
  const posts: CollectionEntry<'blog'>[] = await getCollection('blog');
  return posts.map(post => {
    const stats = readingTime(post.body);
    return {
      params: { slug: post.slug },
      props: {
        entry: {
          ...post,
          readingTime: {
            words: stats.words,
            minutes: Math.ceil(stats.minutes),
          },
        },
      },
    };
  });
}
---

<Layout title={`${entry.data.title} | Bryce Pollack`}>
  <div class="post-wrapper">
    <article class="markdown-content">
      <h1>{entry.data.title}</h1>

      <div class="meta-info">
        <span>
          <Icon name="mdi:calendar-blank" class="icon" />
          {entry.data.pubDate}
        </span>

        <span>
          <Icon name="mdi:pencil" class="icon" />
          {entry.readingTime.words} words
        </span>

        <span>
          <Icon name="mdi:clock" class="icon" />
          {entry.readingTime.minutes} min read
        </span>
      </div>

      <Content />
    </article>

    <aside class="toc-container">
      {headings.length >= 1 && <TableOfContents headings={headings} />}
    </aside>
  </div>
</Layout>
